data/raw/*
data/bronze/*
data/silver/*

database/*

src/notebooks/.cache.sqlite
models/*
lakehouse/bronze/*
lakehouse/silver/*
lakehouse/gold/*
lakehouse/metadata/*
reports/analytics/*


.venv/*
# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class
lakehouse.duckdb
